body {
  background: #E7E7E7;
  font-family: Helvetica, sans-serif;
  /*font-size: 14px;*/
  margin: 0;
}

section {
  width: 50%;
  margin: 0 auto 40px;
}
@media only screen and (max-width: 1024px) {
  section {
    width: 90%;
  }
}

@media only screen and (max-width: 1024px) {
  .section-about {
    font-size: 2em;
    line-height: 1em;
  }
}
.background {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #dbdbdb;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23cccccc' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  margin-bottom: fill;
}

.button{
  font-size: 2em;
}
@media only screen and (max-width: 1024px) {
  button {
  font-size: 3em;
  }
}

.me {
  object-fit: /*contain;*/
  border: 10px solid #e6e6fa;
  border-radius: 50%;
  border-width: thick;
  max-width: 250px;
  height: auto;
  margin-top: 50px;
  left: 50%;
}

.section-about {
  color: #4d4d4d;
}

#technologies-list {
  list-style: none;
  /*padding: 0;*/
  margin-left: 0;
}

.technology {
  background: white;
  margin-bottom: 10px;
  box-shadow: 1px 3px 8px #CCC;
}
@media only screen and (max-width: 1024px) {
  .technology {
    margin-bottom: 30px;
    box-shadow: 7px 10px 30px #CCC;
  }
}
.technology-competence-bar {
  width: 100%;
  height: 28px;
  background: #dadada;
  border-top: 6px solid white;
  box-sizing: border-box;
}
.technology-competence-bar-value {
  height: 17px;
  width: 2%;
  background: #333;
}
.technology-content {
  display: flex;
  align-items: center;
  padding: 3px 15px 15px;
}
.technology-logo {
  width: 50px;
  min-width: 50px;
  height: 50px;
  margin-right: 12px;
}
@media only screen and (max-width: 1024px) {
  .technology-logo {
    min-width: 150px;
    width: 150px;
    height: 150px;
    margin-right: 40px;
  }
}
.technology-heading {
  display: flex;
  align-items: center;
  margin: 0 0 4px;
  font-size: 20px;
}
@media only screen and (max-width: 1024px) {
  .technology-heading {
    font-size: 3em;
    line-height: 1.5em;
  }
}
.technology-description {
  margin: 0;
  color: #666666;
}
@media only screen and (max-width: 1024px) {
  .technology-description {
    font-size: 2em;
    line-height: 1.5em;
  }
}
